.employees-container {
    width: auto;
    border: 1px solid black;
    border-radius: 3px 3px;
    min-width: 350px;
    max-width: 450px;
    margin-left: 10px;
}

.employee-component-container {
    width: max-content;
}

.employees-container:hover {
    cursor: pointer;
}

.employee-row {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    min-height: 40px;
    max-height: 60px;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0 0 1px 0;
    background-color: #ffffff;
}

.employee-row button {
    height: 90%;
    width: max-content;
    max-height: 46px;
    border: 1px solid black;
    margin: 3px;
    float: right;
}

.employee-button:active {
    background-color: lightgrey;
}

.employee-row:first-child {
    border-radius: 3px 3px 0 0;
    border-width: 0 0 1px 0;
    background-color: #ffffff;
    border-top: 1px solid black;
}

.employee-row:last-child {
    border-radius: 0 0 3px 3px;
}

p {
    height: 100%;
}

.active {
    background-color: lightgrey;
}