.login-form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -190px;
    border: 1px solid black;
    border-radius: 2px;
    width: max-content;
    min-height: 130px;
    min-width: 400px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    background-color: #ffffff;
}

.signup-link {
    color: blue;
    align-self: center;
}

.signup-link:hover {
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-input {
    margin: 10px;
    width: 80%;
    min-height: 30px;
    align-self: center;
    border-radius: 2px;
}

.login-form-button {
    width: 50%;
    margin: 10px;
    height: 30px;
    align-self: center;
    border-radius: 2px;
}