.row {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    min-height: 40px;
    max-height: 60px;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.row:first-child:hover {
    cursor: auto;
}

.urgent {
    background-color: #F64D0D;
}

.upcoming {
    background-color: #FBCD26;
}

.done {
    background-color: #8FBB09;
}

.property-button {
    height: 90%;
    width: 90%;
    border: 1px solid black;
    margin: 3px;
}

button:hover {
    cursor: pointer;
}

.property-button:active {
    background-color: lightgrey;
}

.properties-container {
    width: auto;
    min-width: 800px;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
}

.properties-container:hover {
    cursor: pointer;
}

.column {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
}

.title {
    font-size: 20px;
}

.row:first-child {
    background-color: lightblue;
    border-radius: 3px 3px 0 0;
    border-width: 0 0 1px 0;
}

.row:last-child {
    border-radius: 0 0 3px 3px;
}

.active {
    background-color: lightgrey;
}
